*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  background-color: var(--color-bg);
  color: #FFFCFC;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
  line-height: 1.5;
}
 
a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-weight: 400;
}

/* Overflow fix */
input {
  max-width: 100%;
}

header {
  min-height: var(--header-height);
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.265em;
  background-color: var(--color-bg);
}

.logo {
  background-color: #C12E2F;
  background-image: url("./images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 168px 78px;
  width: 230px;
  height: var(--header-height);
  display: block;
}

.menu-state {
  display: none;
}

.menu-button {
  width: 130px;
  height: var(--header-height);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-icon, .menu-icon::before, .menu-icon::after {
  display: block;
  width: 60px;
  height: 6px;
  border-radius: 2.5px;
  background-color: white;
  left: 0;
  transform-origin: 50% 50%;
  transition: all .5s ease-out;
}

.menu-icon {
  position: relative;
}

.menu-icon::after, .menu-icon::before {
  content: "";
  position: absolute;
}

.menu-icon::before {
  top: -21px;
}

.menu-icon::after {
  top: 21px;
}

.menu-state:checked ~ .menu-button .menu-icon {
  background: transparent;
}

.menu-state:checked ~ .menu-button .menu-icon::before {
  transform: translateY(350%) rotate(calc(2 * 360deg + 45deg));
}

.menu-state:checked ~ .menu-button .menu-icon::after {
  transform: translateY(-350%) rotate(calc(2 * -360deg + -45deg));
}

.header-nav {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
}

.menu-state:checked ~ .header-nav {
  max-height: var(--nav-height);
}

.header-nav a {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary-text);
  transition: all 0.3s;
  flex: 1 0 auto;
}

.header-nav a:hover {
  background-color: var(--color-primary-text);
  color: var(--color-bg);
}

section {
  padding: 0 20px;
}

section h2 {
  width: 100%;
  line-height: var(--header-height);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.265em;
  margin: 2rem 0;
}

figure, blockquote {
  margin: 0;
}

.highlight {
  color: var(--color-highlight);
  font-weight: normal;
}