.about-text {
  padding-left: 50px;
  position: relative;
}

.about-text::before {
  content: " ";
  display: block;
  width: 29px;
  height: 19px;
  background-image: url("../images/quotes.svg");
  position: absolute;
  left: 0px;
}

.about-author {
  text-align: right;
}

.about-photo {
  margin: 60px auto 0;
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  height: auto;
  display: block;
}