.contact-socials {
  list-style: none;
  padding: 0;
}

.contact-socials li {
  height: 60px;
  line-height: 100%;
  margin-bottom: 20px;
}

.contact-socials li:before {
  content: "";
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
}

.contact-socials .contact-instagram {
  background-image: url("../images/insta-round.svg");
  background-repeat: no-repeat;
}

.contact-socials .contact-onlyfans {
  background-image: url("../images/only-fans-round.svg");
  background-repeat: no-repeat;
}

.contact-socials .contact-tiktok {
  background-image: url("../images/tiktok-round.svg");
  background-repeat: no-repeat;
}

.contact-socials .contact-twitter {
  background-image: url("../images/twitter-round.svg");
  background-repeat: no-repeat;
}

.contact-socials b {
  color: var(--color-accent);
}

.contact-socials a {
  height: 100%;
  line-height: 100%;
  display: inline-block;
  margin-left: 20px;

  color: var(--color-text);
}

.contact-form {
  width: 100%;
  display: grid;
  gap: 30px;
}

.contact-form .radio-button:first-child {
  margin-right: 30px;
}

.contact-label-title {
  display: inline-block;
  margin-bottom: 10px;
}