#contact-me {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1em;
}

.contact-socials {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 20px;
}

.contact-socials li {
  padding-bottom: 30px;
}

.contact-socials li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-socials b {
  color: var(--color-accent);
}

.contact-socials a {
  width: 100%;
  height: 100%;
  color: var(--color-text);
}

.contact-socials li a:before {
  content: "";
  display: block;
  height: 64px;
  width: 64px;
  margin-right: 20px;
  min-width: 48px;
  flex: 0 1 auto;
  background-size: contain;
  background-position: center;
}

.contact-socials .contact-instagram a:before {
  background-image: url("../images/social-insta.svg");
  background-repeat: no-repeat;
}

.contact-socials .contact-onlyfans a:before {
  background-image: url("../images/social-only-fans.svg");
  background-repeat: no-repeat;
}

.contact-socials .contact-tiktok a:before {
  background-image: url("../images/social-tiktok.svg");
  background-repeat: no-repeat;
}

.contact-socials .contact-twitter a:before {
  background-image: url("../images/social-twitter.svg");
  background-repeat: no-repeat;
}

.contact-form {
  width: 100%;
  display: grid;
  gap: 30px;
}

.contact-form .primary-button {
  margin-top: 20px;
}

.contact-form .radio-button:first-child {
  margin-right: 30px;
}

.contact-label-title {
  display: inline-block;
  margin-bottom: 10px;
}

.contact-email {
  text-align: center;
  margin: 100px auto;
}

.contact-email a {
  word-wrap: break-word;
  color: var(--color-primary-text);
}

.contact-email b {
  color: var(--color-accent);
}
