#hero {
  --overlay: rgba(10, 14, 1, 0.7);
  background: linear-gradient( var(--overlay), var(--overlay)), url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: var(--hero-height);
}

#hero h1 {
  max-width: 300px;
  text-align: center;
  font-size: 48px;
  margin: 0;
}

#hero hr {
  width: 100%;
  margin: 20px 0;
}

.hero-skills {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero-skills li {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 2;
} 

.hero-skills li div {
  width: 175px;
}

.hero-skills li::before {
  content: " ";
  display: block;
  background-image: url("../images/axes-icon.svg");
  width: 16px;
  height: 16px;
}

.hero-skills li::before {
  margin-right: 10px;
}

.hero-skills li::after {
  margin-left: 10px;
}

#hero .primary-button {
  width: 100%;
  margin: 20px 0;
}

.social-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-icon {
  display: block;
  width: 100px;
  height: 100px;
  padding: 18px;
  flex: 0 1 auto;
}

.social-icon i {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 100%;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
}

.social-icon .instagram {
  background-image: url("../images/social-insta.svg");
}

.social-icon .only-fans {
  background-image: url("../images/social-only-fans.svg");
}

.social-icon .tiktok {
  background-image: url("../images/social-tiktok.svg");
}

.social-icon .twitter {
  background-image: url("../images/social-twitter.svg");
}

.social-icon:hover i {
  transform: scale(105%);
  background-color: var(--color-accent-hover);
}

.social-icon:active i  {
  transition: all 0.3s;
  background-color: var(--color-accent-pressed);
  transform: scale(95%);
}

