:root {
  /* sizes */
  --header-height: 135px;
  
  /* colors */
  --color-accent: #C12E2F;
  --color-accent-hover: #FB3C3D;
  --color-accent-pressed: #B71C1C;
  
  --color-primary-text: #FFFEFE;
  --color-bg: #0A0E01;
}